body { 
	margin: 0; 
	padding: 0; 
	background-color: #fff; 
}

#flash_flash { 
	position: absolute; 
	top: 10px; 
	left: 400px; 
	height: 500px; 
	width: 545px; 
}

#flash_alternative, #flash_content{ 
	padding: 75px; 
	color: #000; 
	font-family: Arial; 
	font-size: 14px; 
}